body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    background-color: black;
    border: solid 4px;
    border-color: blueviolet;
}
.left{
    padding: 20px;
    width: 300px;
}
.logo{
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}
h3,p{
    color: white;
}
.right-side {
    text-align: center;
    padding: 20px;
}
.bar{
    width: 250px;
    height: 200px;
    margin-top: 75px;
}
button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}